%h3= comment.body
- if user_signed_in?
	= link_to "Edit comment", edit_article_comment_path(comment.article,comment), class:'btn btn-success'
	= link_to "Delete comment", [comment.article,comment], method: :delete, data: { confirm: "Are you sure?"}, class:'btn btn-danger'
%br/